@use "../../style/typography" as *;
@use "../../style/_varialbles" as *;

.main-wrapper {
  background-color: white;
  min-height: 100vh;
}


.create-worksheet {
  padding: 2rem 10%;

  &__btn-create {
    display: block;
    margin: auto;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    background-color: $primary-CTA-color;
    color: white;
    font-size: 1rem;
  }

  &__btn-create:hover {
    background-color: #28568b;
  }

  &__type {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    display:none;
  }

  &__type-btn {
    width: 10rem;
    position: relative;
    height: 3.5rem;
    border: 3px ridge #149cea;
    outline: none;
    background-color: transparent;
    color: #1d4c84;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }

  &__type-btn:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: white;
    transition: 0.5s;
    transform-origin: center;
  }

  &__type-btn:before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: white;
    transition: 0.5s;
  }

  &__type-btn:hover::before,
  &__type-btn:hover::after {
    transform: scale(0);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    display:none;
  }

  &__label {
    font-weight: 600;
    flex-basis: 15%;
  }

  &__template {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
  }

  &__template-option {
    flex-basis: 20%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.3s;
    background: lightgray;
    border: solid 3px lightgray;

    img {
      width: 100%;
    }

    input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: none;
    }
  }

  &__template-option:has(input:checked) {
    // background-color: coral;
    border: solid 5px $primary-background-color;
    box-shadow: inset 1px 2px 0px rgba(0, 0, 0, 0.18), inset -1px -2px 0px rgba(255, 255, 255, 0.25);
  }
  
  &__submit {
    background-color: $primary-CTA-color;
    border:none;
    color:white;
    padding:1rem 3rem;
    align-self: center;
    cursor: pointer;
  }

  &__submit:hover{
  background-color: $primary-CTA-Hover-color;}
}

input,
select {
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.show{
  display:flex;
}

.hide{
  display:none;
}
