@use "../../style/varialbles" as *;
@use "../../style/typography" as *;


.main-wrapper{
  background-color: white;
}

.math-worksheet {
  background-color: white;
  padding: 2rem 1rem 1rem;
  font-family: Itim;
  width:210mm;
  margin:auto;

  &__form {
    padding:3rem 10% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @media print {
      & {
        display: none;
      }
    }

    input,select{
      width:10rem;
    }
  }

  &__math-param{
    display:flex;
    gap:2rem;
  }

  &__range, &__operator{
    display:flex;
    gap:0.5rem;
  }

  &__submit{
    align-self: center;
    border:none;
    padding:1rem 3rem;
    background-color: $primary-CTA-color;
    color:white;
  }

  &__submit:hover{
    background-color: $primary-CTA-Hover-color;
  }

  // &__label {
  //   font-weight: 600;
  //   flex-basis: 15%;
  // }

  &__print{
    display:flex;
    justify-content: flex-end;
  }

  &__header {
    margin: 0 5%;
    display: flex;
    align-items: baseline;
    gap: 1rem;
    justify-content: space-around;
    border-bottom: 2px dashed $primary-background-color;
  }
  &__text-holder {
    display: inline-block;
    width: 10rem;
    height: 1rem;
    margin-left: 0.5rem;
    border-bottom: 2px solid $primary-background-color;
  }

  &__title {
    text-align: center;
    font-size: 3rem;
    margin:1rem 0;
  }

  &__content {
    font-size: 2rem;
    margin: 3rem 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }
  &__column {
    // flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__answer-holder {
    display: inline-block;
    width: 5rem;
    height: 1rem;
    margin-left: 0.5rem;
    border-bottom: 2px solid $primary-background-color;
  }
}
