@use "../../style/varialbles" as *;
@use "../../style/typography" as *;

.main-wrapper {
  background-color: white;
}

.math-worksheet2 {
  background-color: white;
  padding: 2rem 1rem 1rem;
  font-family: Itim;
  width: 210mm;
  margin: auto;

  &__print {
    display: flex;
    justify-content: flex-end;
  }

  &__header {
    display: flex;
    align-items: baseline;
    gap: 1rem;
  }

  &__text-holder {
    display: inline-block;
    flex-basis: 10%;
    flex: 1;
    height: 1rem;
    border-bottom: 2px dotted $primary-background-color;
  }

  &__title {
    text-align: center;
    font-size: 3.5rem;
  }

  &__content {
    padding-top: 2rem;
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__quest {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__answer-holder {
    height: 4.5rem;

    img {
      height: 100%;
    }
  }
}
