.game-selector {
  width: 100%;
  box-sizing: border-box;

  &__header {
    margin: 1rem;
    text-align: center;
    color: white;
  }

  &__list {
    width: 100%;
    padding: 3rem 0;
    display: flex;
    gap: 5rem;
    list-style: none;
    justify-content: center;

    
  }

  &__item {
    // padding: 3rem 4rem;
    // border-radius: 2rem;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    font-weight:700;
    outline: none;
    border: none;
    border-radius: 0.75rem;
    transition: 0.5s;
    background: #e0c712;
    cursor: pointer;
    color: white;
    box-shadow: 0 0 0.75rem #799876, inset 0 0 10px #d1b90d;

  }

  &__item:hover {
    animation: a 0.7s 1 linear;
  }
  @keyframes a {
    0% {
      transform: scale(0.7, 1.3);
    }
  
    25% {
      transform: scale(1.3, 0.7);
    }
  
    50% {
      transform: scale(0.7, 1.3);
    }
  
    75% {
      transform: scale(1.3, 0.7);
    }
  
    100% {
      transform: scale(1, 1);
    }
  }

  
  &__memory-game {
    background-color: #e0c712;
  }

  &__mole-game{
    background-color: #ff8806;
  }

  &__bird-game {
    background-color: #99c30a;
  }

  &__link {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 2rem;
  }
}
