$primary-background-color:#1d4c84;
$primary-text-color: #13182c; //for global text color
$primary-CTA-color: #2f619c; //for interactive elements
$primary-CTA-Hover-color: #295281; //for interactive elements


$secondary-text-color: #5c667e; // for table column headers & placeholder text --- SLATE
$divider-color: #bdc5d5; // for outlines, dividers, borders, table sorting icon