@use "../../style/varialbles" as *;
@use "../../style/typography" as *;

.main-wrapper{
  background-color: white;
}
.math-worksheet3 {
  background-color: white;
  padding: 1rem 0;
  font-family: Itim;
  width: 210mm;
  margin:auto;
  // box-sizing: border-box;

  &__print {
    display: flex;
    justify-content: flex-end;
  }

  &__header {
    margin:0;
    border:5px solid black;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__logo{
    flex-basis: 25%;
  }

  &__title {
    font-size: 1.5rem;
    flex-basis: 50%;
    border-left: 5px solid black;
    border-right: 5px solid black;
    padding-left: 1rem;

  }
  &__name{
    flex-basis: 25%;
  }
 
  &__instruction{
    padding:1rem 0;
    font: 1rem;
    text-align: center;
    border-left:5px solid black;
    border-right:5px solid black;
  }

  &__content {
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    border: 5px solid black;
  }

 

  &__quest {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
    border-bottom: 5px solid black;
    padding:1rem 0;

    img{
      width:65%;
    }
  }

  &__mathmatic{
    display: flex;
    gap:0.5rem;
    // border-left:5px solid black;
  }

  &__answer-holder {
   height:3rem;
   width:3rem;
   border: 1px solid gray;
  }

  }

